body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* ----------------------  Override  --------------------- */
@media (min-width: 576px) {
  .container {
    max-width: 95%;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 95%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 95%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 95%;
  }
}



.body-content {
    padding-top: 20px;
}

#footer {
    position:fixed;
    overflow: inherit;
    margin-left: auto;
    padding-top: 5px;
    width: 100%;
    bottom:0;
    background-color:  #158CBA;
    color: #ffffff;
    text-align: center;
    height: 30px;
}